# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml


name: "Azure Security Center Validations"

trigger:
- master

- script: |
	docker run \
 	-v "$(Build.SourcesDirectory):/app:cached" \
  	-v "$(Build.ArtifactStagingDirectory):/reports:cached" \
  	shiftleft/sast-scan scan --src /app \
  	--out_dir /reports/CodeAnalysisLogs
  displayName: "Perform Security Scan"
  continueOnError: "true"


- task: PublishBuildArtifacts@1
  displayName: "Publish analysis logs"
  inputs:
	PathtoPublish: "$(Build.ArtifactStagingDirectory)/CodeAnalysisLogs"
	ArtifactName: "CodeAnalysisLogs"
	publishLocation: "Container"



jobs:
- template: .azure-pipelines/yamlFileValidator.yaml
- template: .azure-pipelines/jsonFileValidator.yaml